<h2>Sign up as a band or manager</h2>
<form class="create-form">

  <div class="form-group">
    <label for="userReg">Username</label>
    <input type="text" id="userReg" name="userReg">
  </div>

  <div class="form-group">
    <label for="passReg">Password</label>
    <input type="password" id="passReg" name="passReg">
  </div>

  <div class="form-group">
    <label for="confirmReg">Confirm Password</label>
    <input type="password" id="confirmReg" name="confirmReg">
  </div>

  <div class="form-group">
    <label for="emailReg">Email</label>
    <input type="text" id="emailReg" name="emailReg">
  </div>

  <div class="form-group">
    <input type="radio" name="role" value="manager">Register as a Venue
    <input type="radio" name="role" value="band"> Register as a Band
  </div>
  <button type="submit">Register</button>
</form>
<hr>
<hr>
<hr>
<h2>Sign in</h2>
<form class="sign-form">
    <div class="form-group2">
        <label for="userSign">Username</label>
        <input type="text" id="userSign" name="userSign">
    </div>
    <div class="form-group2">
        <label for="userPass">Password</label>
        <input type="password" id="userPass" name="userPass">
    </div>
   <div class="form-group">
    <input type="radio" name="roleSign" value="manager">Sign in as a Venue
    <input type="radio" name="roleSign" value="band"> Sign in as a Band
  </div>
   <button type="submit">Sign In</button>
</form>